{% load staticfiles %}
<header>
    <div class="wrapper">
        <div class="left">
            <div class="content">
                <button onclick="location.href='/main'">
                    <h1 id="logo" onclick="location.href='/main'">DigitEdu</h1>
                </button>
                <!--7                <p>Пройти опрос</p>-->
            </div>
        </div>
        <div class="right">
            <div class="name content">
                {% if user.is_authenticated %}
                    {{ user.student.name }} {{ user.student.surname }}
                {% else %}
                    Аноним
                {% endif %}
            </div>
            <div class="avatar content">
                <img src="{% static 'main/mainPage/images/avatar.png' %}" alt="">
            </div>
            <div class="swiper content dropdown open">
                <div class="dropdown open">
                    <button type="button" id="dropdownMenuButton"
                            data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <img src="{% static 'main/mainPage/images/swiper.png' %}" alt="">
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/cabinet">Личный кабинет</a>
                        <a class="dropdown-item" href="/logout">Выйти</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
</header>