{% load staticfiles %}
<header>
    <div class="wrapper">
        <div class="left">
            <div class="content">
                <h1 id="logo">DigitEdu</h1>
<!--7                <p>Пройти опрос</p>-->
            </div>
        </div>
        <div class="right">
                <div class="name content">Михаил Абрамский</div>
                <div class="avatar content">
                    <img src="{% static 'main/mainPage/images/avatar.png' %}" alt="">
                </div>
                <div class="swiper content">
                    <img src={% static 'main/mainPage/images/swiper.png' %}" alt="">
                </div>
        </div>
    </div>
</header>