<header>
    <div class="header">
        <div class="leftHeader">
            <h2 class="title"><a href="main">DigitEdu</a></h2>
            <button>Пройти опрос</button>
        </div>
        <div class="rightHeader">
            <p class="name">
                {% if user.is_authenticated %}
                    {{ user.student.name }} {{ user.student.surname }}
                {% else %}
                    Аноним
                {% endif %}
            </p>
            <div class="headerProfile">
                {% load staticfiles %}
                <img src="{% static 'img/none_avatar.png' %}" alt="Profile">
            </div>
        </div>
    </div>
</header>