<div class="modal fade center " id="survey" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="text-align: center">Какой образовательный ресурс вы используете?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <form action="survey" method="post"> {% csrf_token %}
            <div class="modal-body">
                {% for r in resources %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radios" id="radio{{ r.pk }}"
                           value="{{ r.pk }}">
                    <label class="form-check-label option" for="exampleRadios{{ r.pk }}">
                        {{ r.name }}
                    </label>
                </div>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary">Отправить</button>
            </div>
        </form>
        </div>
    </div>
</div>