{% extends "wrapper.html" %}

{% block content %}

    {% include "includes/navbar.html" %}

    <h1>Личный кабинет</h1>
    <h3>Welcome, {{ user }}</h3>
    <st>ФИ: {{ student.name }} {{ student.surname }}</st>
    <br/>
    <gr>Группа: {{ student.group }}</gr>
    <br/>
    <rs>Использует ресурс: {{ student.resourcetostudent.resource }}</rs>
    <br/>
    <h3>Баллы по предметам</h3>
    <table class="table">
        {% for pointlist in student.semester_sorted_pointlist_set.all %}
            <tr>
            <td>{{ pointlist.semester }} Семестр</td>
            <td>{{ pointlist.subject }}</td>
            <td>{{ pointlist.point }}</td>
        </tr>
        {% endfor %}
    </table>
    <h3>Информация о количестве пар</h3>
    {% for lesson in student.group.subject_sorted_lesson_set.all %}
        <l>{{ lesson.subject }} : {{ lesson.passed }} из {{ lesson.total }}</l>
        <br/>
    {% endfor %}
    <br/><br/>
    <a href="/logout">Выйти</a>
{% endblock %}