<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Digit Edu | Главная</title>
    <link rel="icon" href="img/favicon.png">
    <link rel="stylesheet" href="css/style.css">
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <!-- The main CSS file -->
    <link href="css/timer/base.css" rel="stylesheet"/>
</head>
<body>
<header>
    <div class="wrapper">
        <div class="left">
            <div class="content">
                <h1 id="logo">DigitEdu</h1>
<!--7                <p>Пройти опрос</p>-->
            </div>
        </div>
        <div class="right">
                <div class="name content">Михаил Абрамский</div>
                <div class="avatar content">
                    <img src="img/avatar.png" alt="">
                </div>
                <div class="swiper content">
                    <img src="img/swiper.png" alt="">
                </div>
        </div>
    </div>
</header>
<main>
    <div class="blocks">
        <div class="wrapper">
            <div class="main__timeline block">
                <div class="top">
                    <p class="title">Прослушано пар</p>
                </div>
                <div class="bottom">
                    <div class="left">
                        <img src="img/chart.png" alt="" class="chart">
                    </div>
                    <div class="right">
                        <ul class="subjects">
                            <li class="subject">Мат. анализ</li>
                            <li class="subject">Геометрия</li>
                            <li class="subject">Дискр. математика</li>
                            <li class="subject">Информатика</li>
                            <li class="subject">АИСД</li>
                            <li class="subject">Английский</li>
                            <li class="subject">Русский</li>
                        </ul>
                        <ul class="counts">
                            <li class="count">63 из 72</li>
                            <li class="count">63 из 72</li>
                            <li class="count">63 из 72</li>
                            <li class="count">78 из 90</li>
                            <li class="count">63 из 72</li>
                            <li class="count">63 из 72</li>
                            <li class="count">30 из 36</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="main__timer block">
                <div class="title">До первого экзамена</div>
                <div class="timer">
                    <div id="this_clock" class="clock"></div>
                </div>
            </div>

            <a href="https://vk.com/id0">
                <div class="main__profile block">
                    <div class="content">
                        <div class="title">Личный кабинет</div>
                        <div class="subtitle">Анализ успеваемости и другая полезная информация в вашем профиле</div>
                    </div>
                </div>
            </a>

            <div class="main__ratings block">
                <div class="content">
                    <div class="title">Рейтинги</div>
                    <div class="subtitle">Рейтинг студентов по результатам последней сессии</div>
                </div>
            </div>

            <div class="main__services block">
                <div class="content">
                    <div class="title">Сервисы</div>
                    <div class="subtitle">Наиболее используемые сервисы для подготовки / развития / времяпровождения
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>



<!-- JavaScript Includes -->
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="js/timer/digital-countdown.js"></script>
<script src="js/script.js"></script>
</body>
</html>