<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>DigitEdu</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="header">
            <div class="leftHeader">
                <h2 class="title">DigitEdu</h2>
                <button>Пройти опрос</button>
            </div>
            <div class="rightHeader">
                <p class="name">Илон Маск</p>
                <div class="headerProfile">
                    <img src="img/none_avatar.png" alt="Profile">
                </div>
            </div>
        </div>
    </header>
    <div class="mainContent">
        <div class="profileInformation">
            <div class="profilePicture">
                <img src="img/none_avatar.png" alt="Profile">
            </div>
            <div class="profileDetails">
                <h3 class="profileStatus">Student</h3>
                <div class="profileInfo">
                    <div class="profileState"><span class="state">Name:</span>Кшиштан</div>
                    <div class="profileState"><span class="state">Sex:</span>Transgendor</div>
                    <div class="profileState"><span class="state">Bio:</span>Jim Carrey</div>
                </div>
            </div>
        </div>
        <div class="statistic">
            <div>
                <h4 class="title">Динамика успеваемости</h4>
                <p class="subTitle">Отображает изменение ситуации по учёбе</p>
            </div>
            <div class="profileDetails">
                <img src="img/none_avatar.png" alt="Profile">
                Рисуем график
            </div>
        </div>
        <div class="balls">
            <div>
                <h4 class="title">Быллл....аава успеваемости</h4>
                <p class="subTitle">Отображает изменение ситуации по учёбе</p>
            </div>
            <div class="profileDetails">
                <img src="img/none_avatar.png" alt="Profile">
                Рисуем график
            </div>
        </div>
    </div>
    <footer>
        <div class="footer">
            <h4>Х.Х. Продакшен</h4>
            <p>Я родился...</p>
        </div>
    </footer>
</body>
</html>