{% extends "wrapper.html" %}

{% load staticfiles %}

{% block title %}
    <title>Digit Edu | Личный кабинет</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'main/cabinet/css/style.css' %}"/>
{% endblock %}

{% block navigation %}
    {% include 'includes/header.html' %}
{% endblock %}

{% block content %}
    <main>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.4/jquery.xdomainrequest.min.js"></script>
        <script src="{% static 'main/cabinet/js/dynamicsGraph.js' %}"></script>
        <div class="blocks">
            <div class="wrapper">
                <div class="main__profile_info">
                    <div class="profile_picture block">
                        <img src="{% static 'main/cabinet/images/profile_avatar.png' %}" alt="Profile" class="center">
                    </div>
                    <div class="profile_details block">
                        <h3 class="profile_status">Студент</h3>
                        <div class="line"></div>
                        <div class="profile_info">
                            <ul class="states_keys">
                                <li class="state_key name">Имя:</li>
                                <li class="state_key stage">Курс:</li>
                                <li class="state_key group">Группа:</li>
                            </ul>
                            <ul class="states_values">
                                <li class="state_value name">
                                    {% if user.is_authenticated %}
                                        {{ user.student.name }} {{ user.student.surname }}
                                    {% else %}
                                        Аноним
                                    {% endif %}
                                </li>
                                <li class="state_value stage">1</li>
                                <li class="state_value group">{{ user.student.group }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="main__performance block">
                    <div class="content">
                        <div class="title">Динамика успеваемости</div>
                        <div class="subtitle">Отображает изменение ситуации по учёбе</div>
                    </div>
                </div>
                <div class="main__points block">
                    <div class="content">
                        <div class="title">Баллы за сессию</div>
                        <div class="subtitle">Итоговые баллы по минувшим экзаменам</div>
                    </div>
                </div>
                <div class="wrapper">
                </div>
            </div>
        </div>
    </main>
{% endblock %}