{% extends "wrapper.html" %}

{% load staticfiles %}


{% block title %}
    <title>Digit Edu | Главная</title>
{% endblock %}

{% block style %}
    <link rel="icon" href="{% static 'main/mainPage/images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'main/mainPage/css/style.css' %}"/>
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block navigation %}
    {% include 'includes/header.html' %}
{% endblock %}


{% block content %}

    <main>
        <div class="blocks">
            <div class="wrapper">
                <div class="main__timeline block">
                    <div class="top">
                        <p class="title">Прослушано пар</p>
                    </div>
                    <div class="bottom">
                        <div class="left">
                            <img src="{% static 'main/mainPage/images/chart.png' %}" alt="" class="chart">
                        </div>
                        <div class="right">
                            <ul class="subjects">
                                <li class="subject">Мат. анализ</li>
                                <li class="subject">Геометрия</li>
                                <li class="subject">Дискр. математика</li>
                                <li class="subject">Информатика</li>
                                <li class="subject">АИСД</li>
                                <li class="subject">Английский</li>
                                <li class="subject">Русский</li>
                            </ul>
                            <ul class="counts">
                                <li class="count">63 из 72</li>
                                <li class="count">63 из 72</li>
                                <li class="count">63 из 72</li>
                                <li class="count">78 из 90</li>
                                <li class="count">63 из 72</li>
                                <li class="count">63 из 72</li>
                                <li class="count">30 из 36</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="main__timer block">
                    <div class="title">До первого экзамена</div>
                    <div class="timer">
                        <div id="this_clock" class="clock"></div>
                    </div>
                </div>

                <a data-toggle="modal"
                           {% if user.is_authenticated %}
                               onclick="location.href='/cabinet';"
                           {% else %}
                               href="#exampleModal"
                           {% endif %}">
                <div class="main__profile block">
                    <div class="content">
                        <div class="title">Личный кабинет</div>
                        <div class="subtitle">Анализ успеваемости и другая полезная информация в вашем профиле</div>
                    </div>
                </div>
                </a>

                <div class="main__ratings block">
                    <div class="content">
                        <div class="title">Рейтинги</div>
                        <div class="subtitle">Рейтинг студентов по результатам последней сессии</div>
                    </div>
                </div>

                <div class="main__services block">
                    <div class="content">
                        <div class="title">Сервисы</div>
                        <div class="subtitle">Наиболее используемые сервисы для подготовки / развития / времяпровождения
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {% include 'includes/loginModal.html' %}

    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="{% static 'main/mainPage/js/timer/digital-countdown.js' %}"></script>
    <script src="{% static 'main/mainPage/js/script.js' %}"></script>

{% endblock %}

<div class="mainContent">
    <h1>Главная</h1>

    <h3>Какая-то инфографика</h3>
    <h4>Сессия начнется {{ session.date }}</h4>
    <h4>Время: {{ time }}</h4>
    <h4>До начала сессии: {{ timediff }}</h4>
</div>
